
* {
    margin: 0; /* resets browser's default stylesheet / user agent stylesheet*/
    padding: 0; 
    /*border: 1px solid rgba(0,0,0,0.3); box model designing */
    font-family: Arial; /* standard font Google uses */
    box-sizing: border-box; /* eliminate issue of dimensions in the box model */
    overflow: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

.navbar {
    height: 10%;
}

.nav-button {
    float:right;
    padding: 5px 10px;
    color: rgb(75,75,75);
    text-decoration: none;
}


.content {
    margin-top: 20px;
}

.google-logo {
    width: 35%;
    display: block;
    margin: auto;
    padding: 20px 30px;
}

.search-interface {
    position: relative;
    top: 20px;
    width: 600px;
    height: 200px;
    margin: auto;
}

.search-bar {
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    display: block;
}

.search {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.s-button {
    margin: 0px 5px;
    font-size: 15px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 40px;
    clear: both;
}

.f-left {
    float: left;
    padding:10px 0px 0px 0px;
}

.f-right {
    float: right;
    padding:10px 0px 0px 0px;
}

.footr {
    margin-top: -20px;
    display: inline-block;
}

.footl {
    margin-top: -20px;
    display: inline-block;
}